#title {
    font: var(--text-title);

    margin-block: 1.25rem 2.75rem;
}

#add-item {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    height: 2.75rem;
    margin-bottom: 2.5rem;
    
    & input {
        border-radius: 12px;
        background-color: var(--bg-secondary);
        border: solid var(--border-primary);

    }

    & input::placeholder {
        color: var(--content-tertiary);
        padding-left: 1.125rem;
        font: var(--text-paragraph);
    }
    
    & button {
        border-radius: 12px;
        border-style: none;
        background-color: var(--brand-color);
        color: var(--always-white);
        font: var(--text-label);
    }
}

#list {
    ul li {
        list-style-type: none;
      }
      
      ul li label {
        display: flex;
        align-items: center;
        background-color: red;
        /* padding: 5px; */
        width: 100%;
        height: 3.125rem;
        margin-bottom: 0.75rem;
        border-radius: 0.75rem;
      }
      
      ul li input[type="checkbox"] {
        margin-inline: 0.75rem;
      }
      
      ul li span {
        background-image: url('../assets/icons/Frame-3.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-color: blue;
        padding: 0.75rem;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
      
}