#back {
    display: flex;
    align-items: center;

    & img {
        width: 57px;
        height: 16px;
        margin-inline: -15px;
    }

    & a {
        text-decoration: none;
        color: var(--brand-color);
        font: var(--text-link);
    }

    & a:hover {
        color: var(--brand-color-hover);
    }
}

@media (width <= 80rem) {
    #back {
        display: block;
        margin-top: 2.125rem;
        margin-bottom: 1rem;
    }
}